/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  background-image: url(../images/js2.png);
  background-repeat: no-repeat;
  background-position: right center;
}

body {
  font-size: large;
  filter: none;
}

.button-primary, .button {
    border-radius: 100px;
    font-size: .75em;
  }

.one-half.column {
  width: 48%;
  margin-top: 25%;
}

a {
  color: blue; }
a:hover {
  color: lightblue; }

#allRolls {
  list-style: none;
}
